.Rproj.user/8F23AE73/sdb/per/t/AA5B9914
.RData
.Rproj.user/8F23AE73/pcs/workbench-pane.pper
.Rproj.user/8F23AE73/pcs/workbench-pane.pper
*.pper
*.Rhistory
.Rhistory
*.Rhistory
*.pper
*.Rhistory
*.pper
.Rproj.user/8F23AE73/sdb/s-AC6FECAB/lock_file
.Rproj.user/8F23AE73/sdb/s-AC6FECAB/AA5B9914
*.pper
*.Rhistory